# Dependencies
node_modules/
backend/venv/
backend/env/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.*.local
*.local

# Builds
frontend/dist/
frontend/dist-ssr/
backend/staticfiles/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Database
backend/db.sqlite3
